<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Filtrado de Datos</h1>
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Filtrado</p>
    </footer>
</body>
</html>
